<%= link_to "Edit", edit_question_path(@question) %>
<%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: "Are you sure you want to delete this question?"} %>
<h3><%= @question.title %></h3>
<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>


<p><%= markdown.render(@question.body).html_safe %></p>

<h3>Answer Question</h3>

<%= render partial: '/answers/form' %>

<h4>Answers: </h4>

  <% @question.answers.each do |answer| %>
  <% if answer.id != nil %>
<div class="answer">
  <p><%= answer.body %></p>
    <% if answer.correct == true %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <% else %>
      <%= form_for([@question, answer]) do |f| %>
      <%= f.submit value: "Mark as correct"%>
      <% end %>
    <% end %>
</div>
<% end %>
  <% end %>
